/* css styles */

/* Change sidebar background color */

.navbar {
  background-color: #611010ff;
}


body {
  background-image: url(images/dragon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*
body::before {
  content: '';
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 150px;
  height: 150px;
  background-image: url("images/logo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  z-index: 100;
  pointer-events: none;
}
/*


/* Polices d'écritures*/
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
body {
  font-family: 'Rakkas', serif;
}
/* Or apply to specific elements */
h1, h2, h3 {
  font-family: 'Rakkas', serif;
}
.navbar-brand {
  font-family: 'Rakkas', serif;
}

.overlay-box {
  background-color: rgba(97, 97, 97, 0.3);
  /*backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);*/
  padding: 1rem;
  border-radius: 10px;
}